* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* Estilo tarea 1 */

.color-container {
  margin: 0 auto;
  width: 400px;
  height: 480px;
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.color-frame {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: solid #e9e9e9 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  font-size: 25px;
  font-weight: 700;
  padding: 20px;
  color: #fafafa;
  text-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Estilos de la tarea 2 */
.input-container {
  display: flex;
  justify-content: center;

  gap: 20px;
  padding-top: 50px;
}

.timer {
  display: flex;
  justify-content: center;

  padding: 50px 0;
  gap: 20px;
}

.value {
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

button {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

#datetime-picker {
  width: 240px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}

button:disabled,
#datetime-picker:disabled {
  cursor: default;
}
